#toolkit {
  padding-top: 5rem;
}

#toolkit > h5 {
  color: var(--color-white);
}

.toolkit__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.toolkit__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: all 0.05s ease-in-out;
}

.toolkit__container > div:hover {
  box-shadow: (2px 2px #85b5e2);
  transition: all 0.05s ease-in-out;
}

.toolkit__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.toolkit__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.toolkit__details {
  display: flex;
  gap: 1rem;
}

.toolkit__details-icon {
  margin-top: 4px;
  color: var(--color-primary);
}

/* ==== Meda Queries (Tablet) ==== */
@media screen and (max-width: 1024px) {
  .toolkit__container {
    grid-template-columns: 1fr;
  }

  .toolkit__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .toolkit__content {
    padding: 1rem;
  }
}

/* ==== Meda Queries (Mobile) ==== */
@media screen and (max-width: 600px) {
  .toolkit__container {
    gap: 1rem;
  }

  .toolkit__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
