#about {
  padding-top: 5rem;
  margin-bottom: -5rem;
}

.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

#about > h5 {
  color: var(--color-white);
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  display: grid;
  place-items: center;
}

.about__me-quote {
  height: 100%;
  text-align: center;
  margin-top: -20rem;

  .quote__bg {
    margin-top: 9rem;
    z-index: 0;
    width: 500px;
  }
}

.about__content p {
  margin: 0 0 2.6rem 0;
  color: var(--color-white);
}

.contact__me {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact__me-btn {
  padding: 0.25rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid #85b5e2;
  padding: 1rem 1.5rem 1rem 1.5rem;
  display: inline-block;

  .contact__me-text {
    font-weight: bold;
    font-size: 0.85rem;
    position: relative;
    color: #85b5e2;
  }
}

.contact__me-btn:hover {
  border: 1px solid #85b5e2;
  background-color: #85b5e2;
  cursor: pointer;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.5rem;

  .contact__me-text {
    font-weight: bold;
    font-size: 0.85rem;
    position: relative;
    color: #ffffff;
  }
}

.contact__me-text {
  font-weight: 200;
  font-size: 0.85rem;
  position: relative;
  color: #252422;
}

/* ==== Meda Queries (Custom) ==== */
@media screen and (max-width: 1387px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    margin: 2rem auto 5rem;
  }

  .about__me-quote {
    height: 100%;
    text-align: center;
    margin-top: -20rem;

    .quote__bg {
      margin-top: 8rem;
      margin-left: calc(-12%);
      z-index: 0;
      width: 600px;
    }
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }

  .contact__me {
    margin-top: 3rem;
    margin-left: calc(50% - 4rem);
  }
}

/* ==== Meda Queries (Tablet) ==== */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    margin: 2rem auto -1rem;
  }

  .about__me-quote {
    height: 100%;
    text-align: center;
    margin-top: -15rem;

    .quote__bg {
      margin-top: 5rem;
      margin-left: calc(-6%);
      z-index: 0;
      width: 500px;
    }
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }

  .contact__me {
    margin-top: 3rem;
    margin-left: calc(50% - 3.7rem);
  }
}

/* ==== Meda Queries (907px) ==== */
@media screen and (max-width: 907px) {
  .about__me {
    width: 65%;
    margin: 0 auto -4rem;
  }

  .about__me-quote {
    height: 100%;
    text-align: center;
    margin-top: -23rem;

    .quote__bg {
      margin-top: 10rem;
      margin-left: -2rem;
      z-index: 0;
      width: 500px;
    }
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }

  .contact__me {
    margin-left: calc(50% - 23.5rem);
  }
}

/* ==== Meda Queries (796px) ==== */
@media screen and (max-width: 796px) {
  .about__me {
    width: 65%;
    margin: 0 auto 1rem;
  }

  .about__me-quote {
    height: 100%;
    text-align: center;
    margin-top: -23rem;

    .quote__bg {
      margin-top: 10rem;
      margin-left: -2rem;
      z-index: 0;
      width: 500px;
    }
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }

  .contact__me {
    margin-left: calc(50% - 20.5rem);
  }
}

/* ==== Meda Queries (Mobile) ==== */
@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__me-quote {
    height: 100%;
    text-align: center;
    margin-top: -23rem;

    .quote__bg {
      margin-top: 10rem;
      margin-left: -3rem;
      z-index: 0;
      width: 320px;
    }
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }

  .contact__me {
    margin-left: calc(50% - 11.5rem);
  }
}
