#contact {
  padding-top: 5rem;
}

.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

#contact > h5 {
  color: var(--color-white);
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* ==== FORM ==== */
.submitted {
  background: var(--color-bg-variant);
  padding: 3rem;
  padding-bottom: 4rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.submitted:hover {
  background: transparent;
  border-color: var(--color-primary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  background: transparent;
  border: 1.75px solid var(--color-primary);
  resize: none;
  color: var(--color-white);
}

.contact__submit-btn {
  border: 1px solid var(--color-primary);
  background-color: transparent;
  cursor: pointer;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-radius: 0.35rem;

  .contact__submit-text {
    font-weight: lighter;
    font-size: 0.85rem;
    position: relative;
    color: var(--color-primary);
  }
}

.contact__submit-btn:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  cursor: pointer;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-radius: 0.35rem;

  .contact__submit-text {
    font-weight: lighter;
    font-size: 0.85rem;
    position: relative;
    color: var(--color-white);
  }
}

/* ==== Meda Queries (Tablet) ==== */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* ==== Meda Queries (Mobile) ==== */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
