header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ==== CTA ==== */
.cta {
  margin-top: -0.4rem;
  display: flex;
  gap: 21.5rem;
  justify-content: center;
}

.cta__resume-btn {
  border: 1px solid var(--color-orange);
  background-color: transparent;
  cursor: pointer;
  padding: 0.45rem 0.75rem 0.45rem 0.75rem;
  border-radius: 0.35rem;

  .cta__resume-text {
    font-weight: lighter;
    font-size: 0.85rem;
    position: relative;
    color: var(--color-orange);
  }
}

.cta__resume-btn:hover {
  border: 1px solid var(--color-orange);
  background-color: var(--color-orange);
  cursor: pointer;
  padding: 0.45rem 0.75rem 0.45rem 0.75rem;
  border-radius: 0.35rem;

  .cta__resume-text {
    font-weight: lighter;
    font-size: 0.85rem;
    position: relative;
    color: var(--color-white);
  }
}

/* ==== Socials ==== */
.socials__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 426px;
  margin: 0 0 0 -3rem;
}

.socials__title > h3 {
  margin-top: 0.35rem;
  font-weight: 200;
  margin-left: 0.85rem;
}

.header__socials {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
}

.header__socials::after {
  // content: '';
  // width: 1px;
  // height: 1rem;
  // background: var(--color-white);
  // margin-top: 0.55rem;
}

/* ==== Scroll Down ==== */

.scroll__down-icon {
  position: absolute;
  // right: -2.3rem;
  bottom: 1rem;
  // transform: rotate(90deg);
  left: calc(50% - 0.9rem);
  color: #85b5e2;
  font-size: 1.25rem;
}

.scroll__down-icon:hover {
  position: absolute;
  // right: -2.3rem;
  bottom: 1rem;
  // transform: rotate(90deg);
  left: calc(50% - 0.9rem);
  color: var(--color-white);
  font-size: 1.25rem;
}

/* ==== ME ==== */
.me {
  // background: linear-gradient(var(--color-primary), transparent);
  width: 20rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 10rem);
  margin-top: 5.5rem;
  border-radius: 12rem 12rem 0 0;
  padding: 0rem 0rem 1.5rem 0;
}

.py-logo {
  width: 342px;
  position: absolute;
  left: calc(50% - 10.75rem);
  z-index: 1;
  margin-top: 22rem;
}

.py-logo > h2 {
  margin-top: 10px;
  font-weight: 200;
}

/* ==== Meda Queries (Tablet) ==== */
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}

/* ==== Meda Queries (Mobile) ==== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .me {
    width: 15rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 7.5rem);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    padding: 0rem 0rem 1.5rem 0;
  }

  .py-logo {
    width: 242px;
    position: absolute;
    left: calc(50% - 7.5rem);
    z-index: 1;
    margin-top: 14.5rem;
  }

  .socials__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 415px;
    margin: 0 0 0 -6rem;
  }

  .socials__title > h3 {
    margin-top: -0.5rem;
    font-weight: 200;
  }

  .header__socials::after {
    display: none;
  }

  .scroll__down-icon {
    display: none;
  }
}
