header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ==== CTA ==== */
.cta {
  margin-top: 5rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.cta__resume-btn {
  border: 0.1rem solid #85b5e2;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.5rem;

  .cta__resume-text {
    font-weight: 200;
    font-size: 1rem;
    position: relative;
    color: #85b5e2;
  }
}

.cta__resume-btn:hover {
  border: 0;
  background-color: #85b5e2;
  cursor: pointer;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.5rem;

  .cta__resume-text {
    font-weight: 200;
    font-size: 1rem;
    position: relative;
    color: #252422;
  }
}

.cta__resume-text {
  font-weight: 200;
  font-size: 1rem;
  position: relative;
  color: #252422;
}

.cta__contact-btn {
  border: 0.1rem solid #85b5e2;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.5rem;

  .cta__contact-text {
    font-weight: 200;
    font-size: 1rem;
    position: relative;
    color: #85b5e2;
  }
}

.cta__contact-btn:hover {
  border: 0;
  background-color: #85b5e2;
  cursor: pointer;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.5rem;

  .cta__contact-text {
    font-weight: 200;
    font-size: 1rem;
    position: relative;
    color: #252422;
  }
}

.cta__contact-text {
  font-weight: 200;
  font-size: 1rem;
  position: relative;
  color: #252422;
}

/* ==== Socials ==== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ==== ME ==== */
.me {
  // background: linear-gradient(var(--color-primary), transparent);
  width: 20rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 10rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 0rem 0rem 1.5rem 0;
}

.py-logo {
  width: 342px;
  position: absolute;
  left: calc(50% - 11rem);
  z-index: 1;
  margin-top: 300px;
}

.py-logo > h2 {
  margin-top: 10px;
  font-weight: 200;
}

/* ==== Scroll Down ==== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ==== Meda Queries (Tablet) ==== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ==== Meda Queries (Mobile) ==== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
