header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ==== CTA ==== */
.cta {
  margin-top: -7.3rem;
  display: flex;
  gap: 21.5rem;
  justify-content: center;
}

.cta__resume-btn {
  border-bottom: 0.1rem solid #85b5e2;
  background-color: transparent;
  cursor: pointer;
  padding: 0.75rem 1rem 0.45rem 1.5rem;
  border-radius: 0 0 0 0.5rem;

  .cta__resume-text {
    font-weight: 200;
    font-size: 0.75rem;
    position: relative;
    color: #85b5e2;
  }
}

.cta__resume-btn:hover {
  border-bottom: 0.1rem solid #85b5e2;
  background-color: transparent;
  cursor: pointer;
  padding: 0.75rem 1rem 0.45rem 1.5rem;
  border-radius: 0 0 0 0.5rem;

  .cta__resume-text {
    font-weight: 200;
    font-size: 0.75rem;
    position: relative;
    color: #ffffff;
  }
}

.cta__resume-text {
  font-weight: 200;
  font-size: 0.75rem;
  position: relative;
  color: #252422;
}

.cta__contact-btn {
  border-bottom: 0.1rem solid #85b5e2;
  background-color: transparent;
  cursor: pointer;
  padding: 0.75rem 1.5rem 0.45rem 1rem;
  border-radius: 0 0 0.5rem 0;

  .cta__contact-text {
    font-weight: 200;
    font-size: 0.75rem;
    position: relative;
    color: #85b5e2;
  }
}

.cta__contact-btn:hover {
  border-bottom: 0.1rem solid #85b5e2;
  background-color: transparent;
  cursor: pointer;
  padding: 0.75rem 1.5rem 0.45rem 1rem;
  border-radius: 0 0 0.5rem 0;

  .cta__contact-text {
    font-weight: 200;
    font-size: 0.75rem;
    position: relative;
    color: #ffffff;
  }
}

.cta__contact-text {
  font-weight: 200;
  font-size: 0.75rem;
  position: relative;
  color: #252422;
}

/* ==== Socials ==== */
.socials__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.socials__title > h3 {
  margin-top: 0.35rem;
}

.header__socials {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 1rem;
  background: var(--color-white);
  margin-top: 0.55rem;
}

/* ==== Scroll Down ==== */
.scroll__down {
  position: absolute;
  // right: -2.3rem;
  bottom: 5rem;
  // transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.85rem;
  left: calc(50% - 2.5rem);
}

.scroll__down:hover {
  position: absolute;
  // right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.85rem;
  left: calc(50% - 2.5rem);
}

.scroll__down-icon {
  position: absolute;
  // right: -2.3rem;
  bottom: 1rem;
  // transform: rotate(90deg);
  left: calc(50% - 0.8rem);
  color: #85b5e2;
}

/* ==== ME ==== */
.me {
  // background: linear-gradient(var(--color-primary), transparent);
  width: 20rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 10rem);
  margin-top: 7rem;
  border-radius: 12rem 12rem 0 0;
  padding: 0rem 0rem 1.5rem 0;
}

.py-logo {
  width: 342px;
  position: absolute;
  left: calc(50% - 11rem);
  z-index: 1;
  margin-top: 22rem;
}

.py-logo > h2 {
  margin-top: 10px;
  font-weight: 200;
}

/* ==== Meda Queries (Tablet) ==== */
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}

/* ==== Meda Queries (Mobile) ==== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .cta {
    margin-top: -4.3rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  // .header__socials,
  // .scroll__down {
  //   display: none;
  // }
}
