footer {
  background: var(--color-bg-variant);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
  z-index: 1;
  position: relative;
}

footer a {
  color: var(--color-primary);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
  z-index: 1;
  position: relative;
}

.footer__logo > img {
  width: 150px;
  z-index: 1;
  position: relative;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
  z-index: 1;
  position: relative;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 4rem;
  z-index: 1;
  position: relative;
}

.footer__resume-btn {
  margin-top: 0.3rem;
  border: 1px solid var(--color-orange);
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 0.35rem;
  z-index: 1;
  position: relative;

  .footer__resume-text {
    font-weight: lighter;
    font-size: 0.85rem;
    position: relative;
    color: var(--color-orange);
    z-index: 1;
    position: relative;
  }
}

.footer__resume-btn:hover {
  border: 1px solid var(--color-orange);
  background-color: var(--color-orange);
  cursor: pointer;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 0.35rem;
  z-index: 1;
  position: relative;

  .footer__resume-text {
    font-weight: lighter;
    font-size: 0.85rem;
    position: relative;
    color: var(--color-white);
    z-index: 1;
    position: relative;
  }
}

.footer__linkedin-btn,
.footer__github-btn {
  color: var(--color-primary);
  font-size: 2rem;
  z-index: 1;
  position: relative;
}

.footer__linkedin-btn:hover,
.footer__github-btn:hover {
  color: var(--color-white);
  z-index: 1;
  position: relative;
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-primary);
  z-index: 1;
  position: relative;
}

/* ==== Meda Queries (Mobile) ==== */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1;
    position: relative;
  }

  .footer__socials {
    margin-bottom: 2.6rem;
    z-index: 1;
    position: relative;
  }
}
