nav {
  background: rgba(31, 30, 29, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 3rem 0.7rem 3rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: -1.25rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 0 0 1rem 1rem;
  backdrop-filter: blur(10px);
}

nav a {
  background: transparent;
  padding: 0.9rem 0.9rem 0.5rem 0.9rem;
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  color: var(--color-white);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}
