/* ==== TS Particles ==== */
#tsparticles-footer {
  position: absolute;
  background-color: #252422;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0 0 10px 0;
  z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}
